<!DOCTYPE html>
<html>
	<head>
	  <title>foster2adopt</title>
	  <%= favicon_link_tag image_path("logo/favicon.ico") %>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<%= body_tag %>
		<%= render 'pages/header' %>

		<%= yield %>
		
		<%= render 'pages/footer' %>
	</body>
</html>